<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Store Closing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">   
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>     
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.js"></script>

  <script src="../scripts/storeclosingapp.js"></script>
  <script src="../controllers/accountController.js"></script>
  <script src="../partials/navController.js"></script>


</head>

<body class="" ng-app="storeclosing" ng-controller="accountControl as ctlr">

  <h1>Create Store Closing Post</h1>
      <div ng-include="'../partials/mainnav.html'"></div>    
   
  <form id="" name="createPost" action="" method="post">
    <fieldset>
      <div class="" ng-class="">
        <p class="">
          <input type="text" placeholder="add store name" ng-model="storename" id="storename" name="storename" class="" value="" />
        </p>
        <p class="">
          <input type="date" placeholder="add closing date" ng-model="closingdate" id="closingdate" name="closingdate" class="" value="" />
        </p>
        <p class="">
          <input type="text" placeholder="add area code" ng-model="areacode" id="areacode" name="areacode" class="" value="" />
        </p>
        <p class="">
          <input type="text" placeholder="percent off" ng-model="percentoff" id="percentoff" name="percentoff" class="" value="" />
        </p>
        <p> Select they type of store
          <select multiple>
            <option value="volvo">Adult Clothing</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </p>

      </div>    
      <p class=""><input class="" type="button" value="create post" ng-click=""/></p>
    </fieldset>    
  </form>
</body>
</html>

