<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Store Closing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">     
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>     
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.js"></script>

  <script src="../scripts/storeclosingapp.js"></script>
  <script src="../controllers/accountController.js"></script>
  <script src="../partials/navController.js"></script>

</head>

<body class="" ng-app="storeclosing" ng-controller="accountControl as ctlr">

  <h1>Create Profile</h1>
      <div ng-include="'../partials/mainnav.html'"></div>    
   
  <form id="" name="setPassword" action="" method="post">
    <fieldset>
      <div class="" ng-class="">
        <p class="">
          <input type="email" placeholder="add email" ng-model="email" id="email" name="email" class="" value="" />
        </p>
        <p class="">
          <input type="password" placeholder="add password" ng-model="password" id="password" name="password" class="" value="" />
        </p>
        <p class="">
          <input type="password" placeholder="confirm password" ng-model="passwordrepeat" id="passwordrepeat" name="passwordrepeat" class="" value="" />
        </p> 
      </div>    
      <p class=""><input class="" type="button" value="create profile" ng-click="ctlr.createAccount()"/></p>
    </fieldset>    
  </form>
</body>
</html>

